---
layout: default
title: Resume
---

<h1>Experience</h1>

<h2>Education</h2>
<div class="experiences">
    {% for item in site.data.resume.experience.education %}
    <div class="row experience">
        <div class="experience-col experience-col-1">
            <div class="experience-name">
                {{ item.name }}
            </div>
            <div class="experience-period">
                {{ item.period }}
            </div>
        </div>

        <div class="experience-col experience-col-2">
            <p>
                <strong>{{ item.title }}</strong>
                <span>{{ item.description }}</span>
                <span class="experience-details">
                    <span><i class="fas fa-map-marker-alt"></i> {{ item.location }}</span>
                </span>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<hr />
<h2>Work</h2>
<div class="experiences">
    {% for item in site.data.resume.experience.work %}
    <div class="row experience">
        <div class="experience-col experience-col-1">
            <div class="experience-name">
                {{ item.name }}
            </div>
            <div class="experience-period">
                {{ item.period }}
            </div>
        </div>

        <div class="experience-col experience-col-2">
            <p>
                <strong>{{ item.title }}</strong>
                <span>{{ item.description }}</span>
                <span class="experience-details">
                    <span class="location"><i class="fas fa-map-marker-alt"></i> {{ item.location }}</span>
                    <span class="seperator">|</span>
                    <span class="website"><i class="fas fa-link"></i> <a href="{{ item.website }}"
                            target="_blank">{{ item.website }}</a></span>
                </span>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<h1>Abilities</h1>

<h2>Skills</h2>
<div class="abilities">
    <div class="row ability clearfix">
        {% for item in site.data.resume.abilities.skills %}
        <!-- <div class="row ability"> -->
        <div class="ability-col ability-col-1">
            <div class="ability-name">
                {{ item.name }}
            </div>
            <div class="ability-rating">
                {% if item.rating > 0 %}{% endif %}
                <i class="{% if item.rating > 0 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 1 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 2 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 3 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 4 %}fas{% else %}far{% endif %} fa-star"></i>
            </div>
        </div>
        <!-- </div> -->
        {% endfor %}
    </div>
</div>
<hr />
<h2>Tools</h2>
<div class="abilities">
    <div class="row ability clearfix">
        {% for item in site.data.resume.abilities.tools %}
        <!-- <div class="row ability"> -->
        <div class="ability-col ability-col-1">
            <div class="ability-name">
                {{ item.name }}
            </div>
            <div class="ability-rating">
                {% if item.rating > 0 %}{% endif %}
                <i class="{% if item.rating > 0 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 1 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 2 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 3 %}fas{% else %}far{% endif %} fa-star"></i>
                <i class="{% if item.rating > 4 %}fas{% else %}far{% endif %} fa-star"></i>
            </div>
        </div>
        <!-- </div> -->
        {% endfor %}
    </div>
</div>