<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <a href="https://github.com/{{ site.github.username| cgi_escape | escape }}" target="_blank">
          <img src="/assets/img/image.png" class="rounded-circle avatar mb-3 mb-md-0">
        </a>
      </div>
      <div class="col-8 col-md-4">
        {%- include social.html -%}
      </div>
      <div class="col-12 col-md-6">
        <span>{{- site.description | escape -}}</span>
      </div>
    </div>
  </div>
</footer>