<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        {% if page.url == "/" %}
        <li class="nav-item active">
          <a class="nav-link" href="/">Blog <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/">Blog</span></a>
          </li>
        {% endif %}

        {% if page.url == "/archives/" %}
        <li class="nav-item active disabled">
          <a class="nav-link" href="/archives">Archives <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link disabled" href="/archives">Archives</span></a>
          </li>
        {% endif %}

        {% if page.url == "/about/" %}
        <li class="nav-item active">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/about">About</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>