<ul class="social">
  {%- if site.github_username -%}
  <li>
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      <span><i class="fab fa-github"></i> {{ site.github_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if site.twitter_username -%}
  <li>
    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <span><i class="fab fa-twitter"></i> {{ site.twitter_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if site.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
      <span><i class="fab fa-linkedin"></i> {{ site.linkedin_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}
</ul>