---
---

@import "bootstrap/bootstrap";

/*
* Site
*/

main > .container {
  padding-top: 15px;
  // padding-left: 5%;
  // padding-right: 5%;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #8d021f !important;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hidden-phone {
    display: none;
  }

  .experience .experience-details > span {
    display: block;
    margin-bottom: 6px;
  }

  .experience .experience-details .seperator {
    display: none;
  }
}

/*
* Typography
*/

blockquote {
  border-left: 4px solid #8d021f;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: -1px;
}

blockquote > p {
  margin-bottom: 0;
}

/*
* Nav
*/

nav.navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #f5f5f5;
}

nav.navbar a {
  color: #343a40;
}

.nav-item.active a {
  color: #8d021f !important;
}

/*
* Footer
*/

.footer {
  background-color: #f5f5f5;
  color: #6c757d;
  border-top: 0.05rem solid #e5e5e5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer ul.social {
  list-style-type: none;
  padding: 0px;
  margin: auto;
}

.footer img.avatar {
  height: 90px;
}

.footer .social a {
  color: #343a40;
}

/*
* Blog posts
*/

.blog-post {
  margin-bottom: 2rem;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5 {
  color: #8d021f;
  margin-top: 40px;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  // font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.blog-post-banner-img {
  margin-bottom: 15px;
}

.blog-post-preview > a {
  color: #343a40;
}

.blog-post-preview > a > .blog-post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.blog-post-preview > a > .blog-post-meta {
  color: #999;
}

.blog-sidebar img.avatar {
  max-height: 200px;
  margin-bottom: 15px;
}

/*
* About
*/

.about h1 {
  color: #8d021f;
  text-align: center;
  margin-bottom: 20px;
}

.about img.avatar {
  max-height: 200px;
}

/*
* Resume
*/

.container.resume {
  margin-bottom: 40px;
}

.resume h1 {
  color: #8d021f;
  text-align: center;
  margin-bottom: 20px;
}

.resume hr {
  margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.experience {
  margin-bottom: 20px;
}

.experience .experience-period {
  color: #6c757d;
}

.experience p > strong {
  display: block;
  padding-top: 8px;
  margin-bottom: 10px;
}

.experience .experience-details {
  display: block;
  margin-top: 6px;
  color: #8d021f;
}

.experience .experience-details .seperator {
  color: #6c757d;
}

.ability {
  margin-bottom: 20px;
}

.ability span.ability-rating {
  color: #6c757d;
}

.ability span.ability-rating > i.rating-fill {
  color: #8d021f;
}

/*
* Tables
*/

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  // color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
  tr {
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
  }
  th,
  td {
    padding: 10px 15px;
  }
  th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9;
  }
  td {
    border: 1px solid #e8e8e8;
  }
}

/*
* Disclaimer
*/
.disclaimer {
  font-style: italic;
  font-size: x-small;
}

/*
* Pagination
*/
.pagination .page-item.active .page-link {
  background-color: #999;
  border-color: #999;
  color: #ffffff;
}

.pagination .page-item.disabled .page-link {
  color: #999;
}

.pagination .page-item .page-link {
  color: #343a40;
}

/*
* Highlight
*/
.highlight pre {
  padding: .5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .n { color: #0000ff } /* Name */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */
