---
---

@import "bootstrap/bootstrap";

/*
* Site
*/

main > .container {
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #8d021f !important;
}

/*
* Nav
*/

nav.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
}

nav.navbar a {
  color: #343a40;
}

nav.navbar .navbar-brand {
  font-size: 2rem;
}

.nav-item.active a {
  color: #8d021f !important;
}


/*
* Footer
*/

.footer {
  padding: 2.5rem 0;
  background-color: #f5f5f5;
  color: #6c757d;
  border-top: 0.05rem solid #e5e5e5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer ul.social {
  list-style-type: none;
  padding: 0px;
}

.footer img.avatar {
  margin-bottom: 15px;
  height: 90px;
}

.footer .social a {
  color: #343a40;
}

/*
* Home
*/

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

/*
* Blog posts
*/

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.blog-post-banner-img {
  margin-bottom: 15px;
}

.blog-post-preview > a {
  color: #343a40;
}

.blog-post-preview > a > .blog-post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.blog-post-preview > a > .blog-post-meta {
  color: #999;
}

.blog-sidebar img.avatar {
  max-height: 200px;
  margin-bottom: 15px;
}

// @import "minima";

// .footer-col-1 {
//   width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//   width: calc(20% - (#{$spacing-unit} / 2));
// }

// .footer-col-2 {
//   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//   width: calc(35% - (#{$spacing-unit} / 2));
// }

// .footer-col-3 {
//   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//   width: calc(45% - (#{$spacing-unit} / 2));
// }

// .site-footer .avatar {
//   width: auto;
//   height: 90px;
//   border-radius: 50%;
// }

// .post img {
//   padding-top: 15px;
//   padding-bottom: 15px;
// }

// .row {
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .experience {
//   margin-bottom: 20px;
// }

// .experience-col {
//   float: left;
//   margin-bottom: 15px;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .experience-col-1 {
//   width: -webkit-calc(30% - #{$spacing-unit});
//   width: calc(30% - (#{$spacing-unit}));
// }

// .experience-col-2 {
//   width: -webkit-calc(70% - #{$spacing-unit});
//   width: calc(70% - #{$spacing-unit});
// }

// .experience p > strong {
//   display: block;
//   padding-top: 8px;
//   margin-bottom: 10px;
// }

// .experience-details {
//   display: block;
//   margin-top: 6px;
// }

// .experience .experience-details {
//   color: #424242 !important;
// }

// .ability {
//   margin-bottom: 20px;
// }

// .ability-col {
//   float: left;
//   margin-bottom: 15px;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .ability-col-1 {
//   width: -webkit-calc(50% - #{$spacing-unit});
//   width: calc(50% - #{$spacing-unit});
// }

// .ability-name {
//   display: inline-block;
//   width: 60%;
// }

// .ability-rating {
//   float: right;
// }

// .ability .ability-rating .fas {
//   color: #424242;
// }

// .ability .ability-rating .far {
//   color: #424242;
// }

// hr {
//   margin: 40px 0px;
//   border-color: #424242;
//   opacity: 0.2;
//   filter: alpha(opacity=20);
// }

// .clearfix::after {
//   content: "";
//   clear: both;
//   display: table;
// }
