---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-col-1 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

.site-footer .avatar {
  width: auto;
  height: 90px;
  border-radius: 50%;
}

.post img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.experience {
  margin-bottom: 20px;
}

.experience-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.experience-col-1 {
  width: -webkit-calc(30% - #{$spacing-unit});
  width: calc(30% - (#{$spacing-unit}));
}

.experience-col-2 {
  width: -webkit-calc(70% - #{$spacing-unit});
  width: calc(70% - #{$spacing-unit});
}

.experience p > strong {
  display: block;
  padding-top: 8px;
  margin-bottom: 10px;
}

.experience-details {
  display: block;
  margin-top: 6px;
}

.experience .experience-details {
  color: #424242 !important;
}

.ability {
  margin-bottom: 20px;
}

.ability-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.ability-col-1 {
  width: -webkit-calc(50% - #{$spacing-unit});
  width: calc(50% - #{$spacing-unit});
}

.ability-name {
  display: inline-block;
  width: 60%;
}

.ability-rating {
  float: right;
}

.ability .ability-rating .fas {
  color: #424242;
}

.ability .ability-rating .far {
  color: #424242;
}

hr {
  margin: 40px 0px;
  border-color: #424242;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}